[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"django-bootstrap4" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
docopt = "*"
django-model-utils = "*"
djangorestframework = "*"
django-filter = "*"
django-dirtyfields = "*"


[dev-packages]

"autopep8" = "*"
coverage = "*"
codecov = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-nose = "*"
"fabric3" = "*"
factory-boy = "*"
faker = "*"
"flake8" = "*"
nose-progressive = "*"
selenium = "*"


[requires]

python_version = "3.6"
